.expanded{
    background: url("../img/second.jpg");
    background-size: cover;
    height: 100vh;
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 1024px) {
    .expanded{
        background: url("../img/second.jpg");
        background-size: cover;
        height: 100vh;

    }
}
