body {
    background: #3adb76;
    margin: 0;
}

h1,h5{
    text-align: center;
}

* {
    border-box: border-box;
}

.left,
.right {
    display: inline-block;
    width: 50%;
}

.left {
    background: #ea4c89;
    position: fixed;
    width: 50%;
    height: 100%;
}

.right {
    margin-left: 50%;
    background: #9ba5a8;
    position: fixed;
    width: 50%;
    height: 100%;
}

.small-6 {
    width: 100%;
}

.thumbnail{
    margin-top: 15%;
    margin-left: 20%;
}


/* Split screen attivo soltanto sopra i 48em */

@media (max-width: 1200px) {
    .left{
        height:50%;
        width:100%;
    }
    .right{
        margin-left: 0%;
        top: 50%;
        height:50%;
        width: 100%;
    }

    .wine {
        margin-top: 15px;
    }
    .small-6 {
        width: 50%;
    }

    .thumbnail{
        max-width: 55%;
        margin-top: 0%;
        margin-left: 15%;
    }
}


@media (max-width: 500px) {
    .thumbnail{
        max-width: 107%;
        margin-top: 0%;
        margin-left: 10%;
    }

    .wine {
        margin-top: 15%;
    }

}






/*HAMBUGER MENU STYLE*/
.menu-collapsed {
    transition: all .25s;
    position: fixed;
    top: 10px;
    left: 9px;
    height: 36px;
    width: 36px;
    z-index: 1;
    cursor: pointer;
}
.menu-collapsed ul {
    transition: all .05s;
    position: fixed;
    left: -9000px;
}

.bar {
    position: fixed;
    left: 12px;
    top: 24px;
    height: 6px;
    width: 30px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.75);
}
.bar:before {
    transition: all .25s;
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    height: 6px;
    width: 30px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.75);
}
.bar:after {
    transition: all .25s;
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    height: 6px;
    width: 30px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.75);
}

.menu-expanded {
    transition: all .25s;
    text-align: center;
    line-height: 200px;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
}
.menu-expanded ul {
    transition: all .05s;
    position: relative;
    left: 0;
    z-index: 2;
}
.menu-expanded a {
    transition: all .15s;
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-family: 'Quicksand', sans-serif;
    padding: 5px;
}
.menu-expanded a:hover {
    transition: all .15s;
    letter-spacing: 2px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}
.menu-expanded .bar {
    background-color: transparent;
    transition: all .25s;
}
.menu-expanded .bar:before {
    transition: all .25s;
    content: "";
    transform: rotate(45deg);
    top: -0px;
}
.menu-expanded .bar:after {
    transition: all .25s;
    content: "";
    transform: rotate(-45deg);
    top: 0px;
}


p{
    font-size: 2.4rem;
    color: #fff;
    margin-top: 20%;
    width: 50%;
    text-align: center;
    margin-left: 45%;
}


.bar li{
    padding: 15px;
}





/*RATING*/
.rating {
    margin: 50px auto;
    width: 400px;
}
.rating > * {
    float: right;
}
@-webkit-keyframes pulse {
    50% {
        color: #5e5e5e;
        text-shadow: 0 0 15px #777777;
    }
}
@keyframes pulse {
    50% {
        color: #5e5e5e;
        text-shadow: 0 0 15px #777777;
    }
}
.rating label {
    font-size: 55px;
    height: 25px;
    width: 14%;
    position: relative;
    cursor: pointer;
}
.rating label:nth-of-type(5):after {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}
.rating label:nth-of-type(4):after {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.rating label:nth-of-type(3):after {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}
.rating label:nth-of-type(2):after {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.rating label:nth-of-type(1):after {
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
}
.rating label:after {
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    content: "☆";
    color: #444;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 55px;
    -webkit-animation: 1s pulse ease;
    animation: 1s pulse ease;
}
.rating label:hover:after {
    color: #5e5e5e;
    text-shadow: 0 0 15px #5e5e5e;
}
.rating input {
    display: none;
}
.rating input:checked + label:after, .rating input:checked ~ label:after {
    content: "★";
    color: #F9BF3B;
    text-shadow: 0 0 20px #F9BF3B;
}


@media (max-width: 1200px) {
    .rating {
        width: 87%;
    }

    .rating label {
        font-size: 50px;

        height: 25px;
        width: 12%;
        position: relative;
        cursor: pointer;
    }

}


@media (max-width: 600px) {
    .rating {
        width: 100%;
    }


    .rating label {
        height: 20px;
        width: 0%;
        position: relative;
        cursor: pointer;
    }
    .rating label:after {
        font-size: 20px;

    }

}




/*REVIEWS*/



textarea {
    text-align: center;
    margin: 0px 0px 0px 115.188px;
    width: 402px;
    height: 75px;
    border-radius: 2%;

}



@media (max-width: 1200px) {

    textarea {
        ;
        text-align: center;
        height: auto;
        width: 230px;
        min-height: 50px;
        border-radius: 2%;
    }

}


@media (max-width: 600px) {
    textarea {
        text-align: center;
        width: 230px;
        margin-left: 20%;
        border-radius: 2%;

    }

}